@page "/SymbolEdit/{Id:long}"
<h3>SymbolEditPage</h3>

@if (_symbol != null)
{
    <EditForm EditContext ="_editContext" OnValidSubmit="Update" class="card card-body bg-light mt-5">
        <DataAnnotationsValidator />
	
        <div class="mb-3 row">
            <label for="name" class="col-md-2 col-form-label">Name:</label>
            <div class="col-md-10">
                <InputText id="code" class="form-control" @bind-Value="_symbol.Name" />
                <ValidationMessage For="@(() => _symbol.Name)" />
            </div>
        </div>
        <div class="mb-3 row">
            <label for="caption" class="col-md-2 col-form-label">Description:</label>
            <div class="col-md-10">
                <InputTextArea id="caption" class="form-control"  @bind-Value="_symbol.Description" />
                <ValidationMessage For="@(() => _symbol.Description)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success float-end" 
                        disabled="@_formInvalid">Update</button>
            </div>
        </div>
    </EditForm>
    <br />
    <div class="row">
        <div class="col">
            <a href="/symbols" class="btn btn-success">Back</a>
        </div>
    </div>
}