<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Diary of Trade</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="exchanges">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Биржи
            </NavLink>
            <NavLink class="nav-link" href="tool">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Инструмент
            </NavLink>
            <NavLink class="nav-link" href="tradingsession">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Торговая сессия
            </NavLink>
            <NavLink class="nav-link" href="timeframe">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Тайм фрейм
            </NavLink>
            <NavLink class="nav-link" href="trend">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Тренд
            </NavLink>
            <NavLink class="nav-link" href="traderresult">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Результат сделки
            </NavLink>
            <NavLink class="nav-link" href="wallettype">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Тип кошелька
            </NavLink>
            <NavLink class="nav-link" href="economiccalendar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> <div>Эконом. календарь</div>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}