@page "/economiccalendar"
@using DiaryOfTrader.Core.Entity.Economic

@foreach (var choice in Enum.GetValues(typeof(EconomicPeriod)).OfType<EconomicPeriod>().ToArray())
{
    <label>
        <input name="yourColor" type="radio"
               value="@choice"
               checked="@(CurrentChoice == choice)"
               @onchange="@(() => { CurrentChoice = choice; })">
        @choice.ToString()
    </label>
}

<p/>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Время</th>
        <th scope="col">Валюта</th>
        <th scope="col">Событие</th>
        <th scope="col">Факт</th>
        <th scope="col">Прогноз</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>