@page "/exchanges"
@using DiaryOfTrader.Core.Entity

<PageTitle>Exchanges</PageTitle>

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-success mb-1" href="/createExchange">+</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <CatalogTable TItem="TraderExchange" Entities="Exchanges" RedirectEditUrl="/EditExchange" OnDelete="DeleteExchange"/>
    </div>
</div>