@page "/MarketReview"
@using DiaryOfTrader.Core.Entity
<h3>MarketReviewPage</h3>

<EditForm class="card card-body bg-light mt-5" Model="_model">
    <DataAnnotationsValidator/>

    <div class="form">
        <span>
            <HxInputDate Label="Date" 
                         CalendarIcon="BootstrapIcon.Calendar"
                         InputSize="InputSize.Regular" 
                         @bind-Value="MarketReview.DateTime" 
                         CssClass="mb-3"/>
            <HxSelect
                TItem="TraderExchange"
                TValue="long?"
                InputGroupStartText="Exchange"
                Data="Exchanges"
                @bind-Value="_model.SelectedExchange"
                TextSelector="@(p => p.Name)"
                ValueSelector="@(p => p.ID)"
                Nullable="true"
                NullText="-select exchange-"
                NullDataText="Loading exchanges..."/>
            <p/>
            <HxSelect
                TItem="Symbol"
                TValue="long?"
                InputGroupStartText="Symbol"
                Data="Symbols"
                @bind-Value="_model.SelectedSymbols"
                TextSelector="@(p => p.Name)"
                ValueSelector="@(p => p.ID)"
                Nullable="true"
                NullText="-select symbol-"
                NullDataText="Loading symbols..."/>
            <p/>
        </span>
        <span>
            <HxInputText @bind-Value="MarketReview.Name" Label="Name"/>
            <p/>
            <HxInputTextArea @bind-Value="MarketReview.Description" Label="Description" />
        </span>

    </div>

</EditForm>