@page "/timeframe"
@using DiaryOfTrader.WebBlazor.Core.Components

<PageTitle>Time frame</PageTitle>

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-success mb-1" href="">+</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <TimeFrameTable TimeFrames="TimeFrames"/>
    </div>
</div>