@page "/tradingview"

<PageTitle>Trading view</PageTitle>

<div class="tradingview-widget-container">
    <div id="tradingview_2af26"></div>
    <div class="tradingview-widget-copyright">
        <a href="https://ru.tradingview.com/" rel="noopener nofollow" target="_blank">
            <span class="blue-text">Следите за рынками на TradingView</span>
        </a>
    </div>
    <div id="fxWidget">
    </div>
</div>