@page "/trend"
@using DiaryOfTrader.Core.Entity

<PageTitle>Trends</PageTitle>

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-success mb-1" href="">+</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <CatalogTable TItem="Trend" Entities="Trends"/>
    </div>
</div>