@page "/wallettype"

<PageTitle>Wallets</PageTitle>

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-success mb-1" href="">+</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <WalletTable Wallets="Wallets"/>
    </div>
</div>