@page "/exchanges"
@using DiaryOfTrader.Web.Components

<PageTitle>Exchanges</PageTitle>

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-success mb-1" href="/createExchange">+</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <ExchangesTable Exchanges="Exchanges"/>
    </div>
</div>