<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Дневник инвестора</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Справочники
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="exchanges">Биржи</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="symbols">Инструмент</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="tradingsession">Торговая сессия</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="timeframe">Тайм фрейм</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="trend">Тренд</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="traderresult">Результат сделки</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="traderregion">Регион трейдера</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="wallettype">Тип кошелька</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="economiccalendar">Экономический календарь</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="tradingview">Trading View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="MarketReview">Market Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="AllMarketReview">AllMarketReview</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <CascadingAuthenticationState>
                    <AuthorizeView>
                        <Authorized>
                            Hello, @context.User.Identity.Name!
                            <a href="Logout">Log out</a>
                        </Authorized>
                        <NotAuthorized>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-current="page" href="">
                                    <i class="fa-solid fa-user"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="register">Регистрация</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="Login">Вход</a>
                                    </li>
                                </ul>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                </CascadingAuthenticationState>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}