@page "/CreateWalletPage"
<h3>Create Wallet</h3>

<div>
    <EditForm EditContext="_editContext" OnValidSubmit="Create" class="card card-body bg-light mt-5">
        <DataAnnotationsValidator/>

        <div class="mb-3 row">
            <label for="code" class="col-md-2 col-form-label">Code:</label>
            <div class="col-md-10">
                <InputNumber id="code" class="form-control" @bind-Value="_wallet.Name"/>
                <ValidationMessage For="@(() => _wallet.Name)"/>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="caption" class="col-md-2 col-form-label">Caption:</label>
            <div class="col-md-10">
                <InputText id="caption" class="form-control" @bind-Value="_wallet.Description"/>
                <ValidationMessage For="@(() => _wallet.Description)"/>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="description" class="col-md-2 col-form-label">Description:</label>
            <div class="col-md-10">
                <InputTextArea id="description" class="form-control" @bind-Value="_wallet.Description"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success float-end"
                        disabled="@_formInvalid">
                    Create
                </button>
            </div>

        </div>
    </EditForm>
</div>